.profile-pic {
  height: 4vmin;
  margin-right: 10px;
  border-radius: 50px;
}

a {
  color: #343a40;
}

a:hover {
  color: #173798;
  text-decoration: none;
}

div.media {
  margin-top: 30px;
  margin-bottom: 10px;
}

div.media .media-heading .jobTotalDuration {
  color: #666;
  font-size: 14px;
  display: block;
}

div.media img {
  height: auto;
  margin-right: 15px;
  max-width: 110px;
}

div.media .jobDuration {
  color: #444;
  display: block;
}

div.media .jobLocation {
  color: #666;
}

.formLabel {
  font-weight: bold;
}

.certificateLink {
  color: cornflowerblue;
}

footer {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: #444444;
  text-align: center;
}

footer a {
  color: black;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.display-3 {
  font-size: 3.5rem !important;
}

.lead {
  text-align: justify;
}

.jobDescription {
  text-align: justify;
}

@media (max-width: 420px) {
  div.media {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
  }
  div.media img {
    height: auto;
    max-width: 120px;
    margin: 15px;
  }
}

/* Typing effect */

.typewriter {
  font-family: Courier, monospace;
}

.typewriter-text {
  overflow: hidden;
  animation: typing 3s steps(30, end), blink 1s infinite;
  font-weight: 700;
  border-right: 4px solid royalblue;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: royalblue;
  }
}
